/* Sidebar.css */
@import url("../../App.css");

.sidebar {
  padding: 20px;
  overflow-y: auto;
  margin-top: 60px;
}

.sidebar-title {
  color: #023b8a;
  padding: 10px 20px;
  margin: 0 0 20px 0; 
  text-align: start;
  font-size: var(--header-font-size);
}

.sidebar-buttons li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: var(--faq-padding);
  margin-bottom: 10px;
  background-color: var(--deep-blue);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: antiquewhite;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out; /* Suaviza la transformación y el cambio de color */
}

.sidebar-buttons li span {
  font-size: var(--general-font-size);
  font-weight: bold; 
  font-family: 'Montserrat', sans-serif !important;  
  flex: 1;
  margin-left: 10px; 
  overflow: hidden; /* Prevents text overflow */
  white-space: nowrap; /* Keep the text in a single line */
  text-overflow: ellipsis; /* Add "..." if the text is very long */
}

/* Imágenes de los botones del Sidebar */
.sidebar-buttons li img {
  max-width: 23%; 
  height: auto;
  object-fit: contain;
  border-radius: 15px;
}

.sidebar-buttons li:hover {
  background-color: var(--warm-orange);
  transform: scale(1.08);
}

/* For mobile phones: */
@media only screen and (max-width: 600px) {
  .sidebar {
    padding: 10px;
    margin-top: 15%;
  }

  .sidebar-buttons li img {
    visibility: hidden;
  }

  .sidebar-buttons li {
    padding-left: 0px;
    gap: 0px;
  }

  .sidebar-buttons li span {
    font-size: var(--mobile-font-size);
    margin-left: 0px; 
    text-align: left;
  }

  /* .sidebar-buttons {
    visibility: hidden;
  } */

  .sidebar-title {
    font-size: 20px;
    background-color: var(--deep-blue);
    color: var(--white);
    border-radius: 15px;
    padding-left: 12px;
  }

  
}
