/* Estilos generales y normalización */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif; /* Aplicando Roboto a todo el cuerpo de la página */
  background-color: #ffffff; /* Fondo blanco para todo el cuerpo de la página */
}

/* Estilos del encabezado */
header {
  background-color: #ffffff; /* Fondo blanco para el encabezado */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 10%; /* Ajusta el padding según sea necesario */
  background-color: #ffffff; /* Fondo blanco para el contenedor del header */
}

.logo {
  font-size: 1.5em;
  font-weight: 700;
  color: black;
}



nav ul {
  display: flex;
  justify-content: space-evenly; /* Esto distribuirá el espacio interno de la navegación uniformemente */
  padding: 0;
  margin: 0;
  list-style: none;
}

nav ul li {
  padding: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(88, 88, 88);
  font-weight: 100;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #4a144c;
}

.header-content {
  text-align: center;
  padding: 40px 10%;
  background-color: #4a144c;
  color: white;

}

.header-content h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40.96px;
  margin-bottom: 0.5em;
  font-weight:700;
  letter-spacing: normal;
}

.header-content p {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 0;
  letter-spacing: normal;
}

/* Media queries para responsividad */
@media (max-width: 768px) {
  .header-container, .header-content {
      flex-direction: column;
      text-align: center;
  }

  nav ul {
      padding: 0;
      flex-direction: column;
  }

  nav ul li {
      padding: 10px 0;
  }

  .header-content {
      padding: 20px;
  }
}

img {
  width: 100%; /* Hace que la imagen sea tan ancha como su contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  display: block; /* Asegura que no haya espacio extra debajo de la imagen */
}


/* Estilos para la ventana emergente del chatbot */
.chatbot-popup {
  position: fixed;
  bottom: 20px; /* Ajusta la distancia desde el fondo */
  left: 20px;   /* Ajusta la distancia desde la izquierda */
  width: 300px; /* Ajusta el ancho del popup */
  height: 400px; /* Ajusta la altura del popup */
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  border-radius: 10px;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1000; /* Asegúrate de que esté sobre otros elementos */
  visibility: hidden;
}

.chatbot-popup:hover {
  opacity: 1;
  visibility: visible;
}

/* Estilos para el contenido dentro de la ventana emergente */
.chatbot-content {
  padding: 20px;
}

