/* HeaderBar.css */
.header-bar {
  display: flex;
  font-size: larger;
  justify-content: center;
  align-items: center; 
  color: #022c66;
  font-weight: bold;
  background-color: #ffffff;
}

  .header-logo {
  height: 14vh; 
  border-radius: 35px;
}
