/* HeaderBar.css */
@import url("../../App.css");

.header-bar {
  display: flex;
  font-size: var(--title-font-size);
  justify-content: center;
  align-items: center; 
  font-weight: bold;
  background-color: var(--white);
}

.header-logo {
  height: 14vh; 
  border-radius: 35px;
}

/* For mobile phones: */
@media only screen and (max-width: 600px) {
  .header-logo {
    height: 10vh;
  }
}