/* ChatWindow.css */
.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-radius: 30px;
  overflow: hidden;
  background-color: #022c66;
}

/* Estilos para la ventana de chat */
.chat-window {
  flex-grow: 1;
  padding: 20px;
  background-color: #022c66; /* Color de fondo con transparencia */
  overflow-y: auto;
  border-radius: 30px;
  color: antiquewhite; /* Color del texto */
  font-size: 30px; /* Tamaño del texto */
  border-left: 1px solid #e0e0e0;  
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
  
}

.message.user {
  background-color: #9b59b6; /* Un color más claro que el fondo para los mensajes del usuario */
  align-self: flex-end; /* Alinear mensajes del usuario a la derecha */
}

.message.bot {
  background-color: #8e44ad; /* Un color distinto para los mensajes del bot */
  align-self: flex-start; /* Alinear mensajes del bot a la izquierda */
}


.input-bar input {
  flex-grow: 1; /* Asegúrate de que el input tome el espacio disponible */
  margin-right: 10px;
  border: 2px solid #9b59b6; /* Borde del input */
  padding: 10px;
  border-radius: 1px; /* Bordes redondeados para el input */
}

.input-bar button {
  padding: 10px 20px;
  background-color: rgba(155, 89, 182, 0.5);
  border: 2px solid #9b59b6;
  border-radius: 40px;
  color: antiquewhite;
  cursor: pointer;
}

.input-bar button:hover {
  background-color: #FF5733; /* Un color ligeramente diferente al hacer hover */
}

