/* ChatWindow.css */
@import url("../../App.css");

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-color: var(--deep-blue);
}

/* Estilos para la ventana de chat */
.chat-window {
  flex-grow: 1;
  padding: 20px;
  background-color: var(--white); /* Color de fondo con transparencia */
  overflow-y: auto;
  color: antiquewhite; /* Color del texto */
  font-size: 30px; /* Tamaño del texto */
}

.message {
  max-width: 60%; /* Limita el ancho de las burbujas de mensajes */
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 15px; /* Bordes más redondeados para las burbujas de chat */
  color: var(--white);
  word-wrap: break-word; /* Asegura que el texto largo se envuelva correctamente */
  transition: opacity 0.7s ease-in-out;
}

.message.user {
  background-color: var(--light-blue) ; /* Fondo blanco */
  align-self: flex-end;
  text-align: right;
  margin-left: auto;
  font-size: medium;
  /* color: #ffffff; Tipografía azul con ligera transparencia */
}

.message.bot {
  background-color: var(--light-orange); /* Fondo blanco */
  align-self: flex-start;
  margin-right: auto;
  font-size: medium;
  /* color: #ffffff ; Tipografía roja con ligera transparencia */
}

.chat-window .message {
  opacity: 1;
}

/* .input-bar input {
  flex-grow: 1;
  margin-right: 10px;
  border: 2px solid #9b59b6;
  padding: 10px;
  border-radius: 15px;
  background-color: #ffffff;
  color: #333333;
}

.input-bar button {
  padding: 10px 20px;
  background-color: rgba(155, 89, 182, 0.5);
  border: 2px solid #9b59b6;
  border-radius: 40px;
  color: antiquewhite;
  cursor: pointer;
}

.input-bar button:hover {
  background-color: var(--warm-orange); 
} */

