/* ChatWindow.css */
.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-radius: 30px;
  overflow: hidden;
  background-color: #022c66;
}

/* Estilos para la ventana de chat */
.chat-window {
  flex-grow: 1;
  padding: 20px;
  background-color: #022c66; /* Color de fondo con transparencia */
  overflow-y: auto;
  color: antiquewhite; /* Color del texto */
  font-size: 30px; /* Tamaño del texto */
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
  
}

.message.user {
  background-color: rgb(100, 109, 232); /* Color distinto para el usuario */
  align-self: flex-end;
  margin-left: auto;
  font-size: medium;
}

.message.bot {
  background-color: #00695c; /* Color distinto para el bot */
  align-self: flex-start;
  margin-right: auto; /* Alinear a la izquierda */
  font-size: medium;
  opacity: 0;
}

.input-bar input {
  flex-grow: 1; /* Asegúrate de que el input tome el espacio disponible */
  margin-right: 10px;
  border: 2px solid #9b59b6; /* Borde del input */
  padding: 10px;
  border-radius: 4px; /* Bordes redondeados para el input */
}

.input-bar button {
  padding: 10px 20px;
  background-color: #9b59b6; /* Color para el botón enviar que combina con los mensajes del usuario */
  border: none;
  border-radius: 4px; /* Bordes redondeados para el botón */
  color: antiquewhite; /* Texto blanco para el botón */
  cursor: pointer; /* Cambiar el cursor para indicar que es clickeable */
}

.input-bar button:hover {
  background-color: #a569bd; /* Un color ligeramente diferente al hacer hover */
}

/* tittle chat with us*/
.chat-header {
  padding: 10px 20px;
  text-align: center; /* Centra el texto horizontalmente */
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  color: antiquewhite;
  font-weight: bold;
}
