/* InputBar.css */
@import url("../../App.css");

.input-bar {
  padding: 30px;
  background-color: var(--white);
  border: 1px solid var(--warm-orange);
  border-radius: 30px;

}

.input-bar input::placeholder {
  color: #6f6f6f;
  font-size: 16px;
}

.input-bar input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #621616;
  border-radius: 15px;
  width: calc(100% - 120px);
  background-color: rgba(255, 87, 51, 0.2);
  font-size: 16px;
  font-family: 'Montserrat', sans-serif !important;;
}

.input-bar button {
  padding: 10px 20px;
  background-color: var(--vibrant-green);
  color: var(--white);
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
}

.input-bar button:hover {
  background-color: var(--warm-orange);
  transition: background-color 0.15s ease;
}
