/* InputBar.css */
.input-bar {
  padding: 30px;
  background-color: #0047AB;
  border-top: 1px solid #e0e0e0;
  border-radius: 30px;

}

.input-bar input::placeholder {
  color: #ffffff;
  font-size: 16px;
}

.input-bar input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ffffff;
  border-radius: 15px;
  width: calc(100% - 120px);
  background-color: rgba(255, 87, 51, 0.2);
  font-size: 16px;
  font-family: 'Montserrat', sans-serif !important;;
}

.input-bar button {
  padding: 10px 20px;
  background-color: #00A651;
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
}

.input-bar button:hover {
  background-color: #FF5733;
}
