/* InputBar.css */
.input-bar {
  padding: 30px;
  background-color: #ffffff;
  border: 1px solid #dc5252;
  border-radius: 30px;

}

.input-bar input::placeholder {
  color: #6f6f6f;
  font-size: 16px;
}

.input-bar input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #621616;
  border-radius: 15px;
  width: calc(100% - 120px);
  background-color: #a381ab;
  color: white;
  font-size: 16px;
  font-family: 'Poppins', sans-serif !important;
}

.input-bar button {
  padding: 10px 20px;
  background-color: #b395c2;
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
}

.input-bar button:hover {
  background-color: #388838;
}
