/* App.css */
@import 'normalize.css';

:root {
  --deep-blue: #0047AB;
  --light-blue: #0061e7;
  --light-orange: #ff7657;
  --warm-orange: #FF5733;
  --vibrant-green: #00A651;
  --white: #FFFFFF;
  --general-font-size: 1rem;
  --header-font-size: 1.7rem;
  --title-font-size: 2rem;
  --mobile-font-size: 0.8rem;
  --faq-padding: 0.5rem;
}

* {
  box-sizing: border-box;
}

.App {
  display: flex;
  height: 100vh;
  flex-direction: row;

}

.sidebar {
  flex: 0 0 20%; 
}

.chat-container {
  width: 3;
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Asegura que chat-area tome todo el espacio vertical disponible */

}

.chat-area {
  display: flex;
  flex-direction: column;
  flex-grow: 1; 
}
