/* App.css */
@import 'normalize.css';

:root {
  --deep-blue: #0047AB;
  --light-blue: #0061e7;
  --light-orange: #ff7657;
  --warm-orange: #FF5733;
  --vibrant-green: #00A651;
  --white: #FFFFFF;
  --general-font-size: 1rem;
  --header-font-size: 1.7rem;
  --title-font-size: 2rem;
  --mobile-font-size: 0.8rem;
  --faq-padding: 0.5rem;
  --chat-padding: 0.6rem;
}

* {
  box-sizing: border-box;
}

.App {
  display: flex;
  height: 100vh;
  flex-direction: column;

}

/* .App-header {
  max-height: 10vh;
} */

.App-body {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  justify-content: space-between;
  max-height: 85vh;
}

.App-chat-area {
  display: flex;
  flex-direction: column;
  flex-grow: 1; 
}

/* For mobile phones: */
@media only screen and (max-width: 600px) {
  
}
