/* App.css */
.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.sidebar {
  width: 25%; /* O el ancho que prefieras para la barra lateral */
  background-color: #f4f4f4;
  /* otros estilos para la barra lateral */
}

.chat-container {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.chat-area {
  display: flex;
  flex-direction: column;
  flex-grow: 1; 
}
